{{=<% %>=}}
<%> header%>
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-inner">
        <a class="brand navbar-brand" href="/" style="font-size: 24px;">FunPlus</a>
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
    </ul>
</header>
<!-- end navbar -->
<div ng-controller="ApiExplorerController">

    <div class="conent">
        <div class="well"><h3>Api Explorer</h3></div>
        <div class="row">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="AccessKey">Access Key</label>
                    <div class="controls"><input type="text" class="input-xxlarge" placeholder="Access Key (disabled)" ng-model='form.accessKey'></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Class">Service</label>
                    <div class="controls">
                        <input type="text" placeholder="Typeahead for Service calls" ng-model='form.service'>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Class">Method</label>
                    <div class="controls">
                        <input type="text" placeholder="Typeahead for Methods" ng-model='form.method'>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Class">Params</label>
                    <div class="controls">
                        <input type="text" placeholder="key1=value1&key2=value2" ng-model='form.params'>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info" ng-click="callService()">Submit</button>
                    </div>
            </form>
        </div>

    </div>
    <hr>
    <div class ="" ng-show="rawRequest.class">
        <div class ="span4"><h3> Raw Request </h3>
            <pre class="brush:json">{{rawRequest|json}}</pre>
        </div>

        <div class='span10' ng-show="showResult"><h3> Raw Response </h3>
            <pre class="brush:json">{{rawResponse|json}}</pre>
        </div>
    </div>

</div>

<%> footer%>